[user]
  name = ikaruga
  email = ikaruga777@gmail.com
  
[include]
  path = ~/.config/git/local.gitconfig

[ghq]
  root =~/src

[credential]
  helper = cache

[hub]
  protocol = ssh
[pull]
	rebase = false
